* {
  font-family: alice-regular;
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}
body {
  background-image: url(./assents/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #573824;
}
img {
  border-radius: 16px;
}
#page {
  box-sizing: border-box; /* tirar sobra da caica*/
  background-color: #F0E8C2;
  padding: 24px; /*para área interna do box*/
  width: 800px; /* largura*/
  margin: 48px auto; /* para centralizar na pagina auto, 48 pra top e bottom*/
  border-radius: 24px;
}
h1 {
  font-size: 40px;
  line-height: 140%;
  color: #291B1A;
}
h2 {
  font-size: 24px;
  color: #291B1A;
}
footer {
  color: #F0E8C2;
  font-size: 16px;
  text-align: center;
}
p {
  font-size: 16px;
}